.date-picker {
	display: inline-block;
}

/* changes color of date: black when in calendar view, white otherwise */
input[aria-expanded=true] {
	color: black;
}

input[aria-expanded=false] {
	color: white;
}