/*=======================================================================
** FAMILY WEEKLY VIEW CSS START
=========================================================================
*/

.person {
  margin-bottom: 40px;
  margin-left: 0;
  margin-right: 0;
}

.fwv-names {
	text-align: center;
}

.fwv-profile-pics {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 60px;
	height: 60px;
}

.fwv-columns {
  float:left; 
  width:75px;
  margin-left: 5px;
  margin-right: 5px;
}