/*=======================================================================
** FAMILY WEEKLY VIEW CSS START
=========================================================================
*/

.familyweeklyview-container {
  margin-left: -150px;
  margin-right: -600px;
  color: white;
}

.person {
  margin-bottom: 40px;
}

#fwv-datepicker-placement {
  margin-top: -75px;
  margin-bottom: 50px;
  margin-left: 350px;
}