/*=======================================================================
** FAMILY VIEW CSS START
=========================================================================
*/
/**
.modal-demo .btn btn-default
**/
/***
.ng-modal-overlay {
  /* A dark translucent div that covers the whole screen
  position:absolute;
  z-index:9999;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color:#000000;
  opacity: 0.8;
}

.ng-modal-dialog {
  /* A centered div above the overlay with a box shadow. 
  z-index:10000;
  position: absolute;
  width: 50%; /* Default 

  /* Center the dialog
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);

  background-color: #fff;
  box-shadow: 4px 4px 80px #000;
}

.ng-modal-dialog-content {
  padding:10px;
  text-align: left;
}
.ng-modal-close {
  position: absolute;
  top: 3px;
  right: 5px;
  padding: 5px;
  cursor: pointer;
  font-size: 120%;
  display: inline-block;
  font-weight: bold;
  font-family: 'arial', 'sans-serif';
}
/*-------------------------------------------------------------------*/

/* datepicker styles */
.md-button.md-icon-button {
  background-color: rgba(255, 255, 255, 0.4);
}

.md-datepicker-input {
  color: white;
}

md-icon {
  svg {
    path {
      fill: #ffffff;
    }
  }
}

.md-datepicker-triangle-button .md-datepicker-expand-triangle {
  border-top-color: white;
}

#fdv-datepicker-placement {
  margin-top: -75px;
  margin-bottom: 50px;
  margin-left: 200px;
}

/* chart area styles */
.chart-placement {
  height:150px;
  width:150px; 
  margin-left:50px;
}

.how-sleep-button {
  position: absolute; 
  top: 135px; 
  left: 75px; 
  z-index: 1; 
  white-space: normal; 
  max-width: 100px; 
  color: #555555; 
  background-color: transparent; 
  border:0px solid transparent; 
  font-weight: bold;
}

.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active {
    color: white;
    background-color: #D6C3DB;
    border-color: #D6C3DB;
}

.profile-pics {
  position: relative; 
  top: 0px; 
  width: 60px; 
  height: 60px;
}

.mood-pics {
  position: absolute; 
  width: 100px; 
  height: 100px;
  top: 115px; 
  left: 75px; 
  z-index: 1;
}

#family_moon {
  height: 150px;
  margin-top: 200px;
}

.fdv-names {
    text-align: center;
    width: 60px;
}