
<div class="singleview-container" ng-controller="AboutCtrl">

<h3> For any issues please contact Laura Pina at lpina_at_cs.uw.edu
<h3> I am very grateful to have had the following students contribute. They were indispensible to building this sytem</h3>
<h3> This system was built in collaboration with: </h3>
<ul>
    <li><a ng-href="https://www.linkedin.com/in/sang-wha-sien">Sang-Wha Sien</a></li>
    <li><a ng-href="https://www.linkedin.com/in/diana-oviedo-72398b14/">Diana Oviedo</a></li>
    <li><a ng-href="https://www.linkedin.com/in/clarissa-song-b8099584/">Clarissa Song</a></li>
    <li><a ng-href="https://www.yuanzhuangux.com">Yuan Zhuang</a></li>
    <li><a ng-href="https://www.taoxili.net">Taoxi (Tessa) Li</a></li>
    <li><a ng-href="https://linkedin.com/in/ada-s-kim/"> Ada S. Kim</a></li>
</ul>
</div>