<div class="add-member" style='height:100%; width: 100%'>
		<form class="form-horizontal">

		<!-- Text input-->
		<div class="form-group">
			<label class="col-md-4 control-label" for="firstname">Name</label>  
			<div class="col-md-5">
			<input id="firstname" name="firstname" ng-model="signup.user.firstname" type="text" placeholder="0000" class="form-control input-md">
				
			</div>
		</div>

		<!-- Text input-->
		<div class="form-group">
			<label class="col-md-4 control-label" for="lastname">Types of Family Member</label>  
			<div class="col-md-5">
			<input id="lastname" name="lastname" ng-model="signup.user.lastname" type="text" placeholder="Morrison" class="form-control input-md">
				
			</div>
		</div>

		<div class="form-group">
			<label class="col-md-4 control-label" for="password1">Profile Picture</label>
			<div class="col-md-5">
				<input id="password1" name="password1" ng-model="signup.user.password1" type="password" placeholder="" class="form-control input-md">
				
			</div>
		</div>
	</form>
</div>

