<div class="familydailyview-container" ng-controller="FamilydailyviewCtrl"> <!--do I need this controller here? test to get this to work with out-->
<!--need 1x2 | 1  for moon| 1x2-->

<!-- lots of repetition here, need to figure out how to call a function that just does this 4 times different parameters-->

<div class="col-xs-4">
<div class="row">
    <!--hard coding profile but can import it from the controller as well-->
    <!-- ideally this is where I have the same directive for the avatar-->
    <img ng-src="images/avatars/momcircle.png" alt="momcircle" class="profile-pics">
        <!-- <p>{{id}}</p> -->
    <p class="fdv-names">MOM</p>
    <!--<div vega spec="spec" style="position: relative; z-index: 2">-->
    <div ng-controller="ModalCrtl as $ctrl" class="mom">
    <!-- LEFT OFF HERE IN TRYING TO FIGURE OUT THE FACTORY THAT MAINTAINS THE PICTURES AND NOT RESTARTS-->x``   
        <!-- TODO: $ctrl.selected.name this is a state that comes from selfreport factory-->
        <!-- <div ng-if=have access through scope-->
        <div ng-if=$ctrl.selected.name>
        <!--TODO: hovering now showing up under and difficult to read, will need to look into how to control hover-->
            <div ng-controller="DoughnutCtrl" class="chart-placement">
                <canvas id="doughnut" class="chart-doughnut" chart-data="data" chart-labels="labels" chart-colors ="colors" chart-options="options">
                </canvas>
            </div>
        </div>
         <div ng-if=!$ctrl.selected.name>
            <div ng-controller="PiechartcontrollerCtrl" class="chart-placement">
            <canvas id="pie" class="chart chart-pie" chart-data="data" chart-colors ="color" chart-options="options">
            </canvas>
            </div>
        </div>
        <!--inserts code for the modal popup window-->
        <button type="button" class="how-sleep-button btn btn-default" ng-click="$ctrl.open()" ng-hide="$ctrl.selected">How did you sleep?</button>
        
        <!-- GOT RID OF THE BUTTON -->
        <!--<img ng-src={{$ctrl.selected.image}} ng-show="$ctrl.selected" ng-click="$ctrl.open()" class="mood-pics"> -->
        <img ng-src={{$ctrl.selected.image}} ng-show="$ctrl.selected" class="mood-pics">
        <!-- TODO need to add text of mood selected -->
        
        <p> Mood:  {{$ctrl.selected.name}}</p>
        <p> User: {{$ctrl.selectedFam}}</p>
        
        <div ng-if=$ctrl.selected.name>
        <!--TODO bug: need to fix this id based on how the data is organized now -->
        <a ng-href="#!/sdview/{{id}}" class="button btn-primary"> Single Daily View</a> <!--TODO want an ng-if here to show only after daily sleep and self-report is available -->

        </div>
    </div>
        <div class="row">
          <!--hard coding profile but can import it from the controller as well-->
            <!-- ideally this is where I have the same directive for the avatar-->
            <img ng-src="images/avatars/dadcircle.png" alt="dadcircle" class="profile-pics">
            <p class="fdv-names">DAD</p>
                    <div ng-controller="DoughnutCtrl" class="chart-placement">
                        <canvas id="doughnut" class="chart-doughnut" chart-data="data_dad" chart-labels="labels" chart-colors ="colors" chart-options="options"></canvas>
                    </div>

               <p> Mood:  {{$ctrl.selected.name}}</p>
                <p> User: {{$ctrl.selectedFam}}</p>
        </div>
    </div>
</div>
    <div ng-controller="MoonCtrl" class="col-xs-4"> 
    	<!--this isn't correct. Trying to figure out where to put the moon in the middle-->
    	<!--<p> THERE IS A DIV COLUMN HERE TO FIT IN THE MOON</p>
    	<p>this is where the moon goes</p> --> <!-- need to figure out to center this-->
        <img src="{{moonImage}}" alt="moon" id="family_moon">   
    </div>

    <div class="col-xs-4">
        <div class="row">

          <!--hard coding profile but can import it from the controller as well-->
            <!-- ideally this is where I have the same directive for the avatar-->
            <img ng-src="images/avatars/girlcircle.png" alt="girlcircle" class="profile-pics">
            <p class="fdv-names">GIRL</p>
            <!-- <div ng-controller="PiechartcontrollerCtrl">
                <canvas id="pie" class="chart chart-pie" chart-data="data" chart-colors ="color" chart-options="options">
                </canvas>
            </div> -->
                <div ng-controller="DoughnutCtrl" class="chart-placement">
                        <canvas id="doughnut" class="chart-doughnut" chart-data="data_girl" chart-labels="labels" chart-colors ="colors" chart-options="options"></canvas>
                    </div>
               <p> Mood:  {{$ctrl.selected.name}}</p>
                <p> User: {{$ctrl.selectedFam}}</p>
        </div>

        <div class="row">
          <!--hard coding profile but can import it from the controller as well-->
            <!-- ideally this is where I have the same directive for the avatar-->
            <img ng-src="images/avatars/soncircle.png" alt="soncircle" class="profile-pics">
            <p class="fdv-names">DAD</p>
           <!--  <div ng-controller="PiechartcontrollerCtrl">
                <canvas id="pie" class="chart chart-pie" chart-data="data" chart-colors ="color" chart-options="options">
                </canvas>
            </div> -->
             <div ng-controller="DoughnutCtrl" class="chart-placement">
                        <canvas id="doughnut" class="chart-doughnut" chart-data="data_boy" chart-labels="labels" chart-colors ="colors" chart-options="options"></canvas>
                    </div>
               <p> Mood:  {{$ctrl.selected.name}}</p>
                <p> User: {{$ctrl.selectedFam}}</p>
        </div>
    </div>
</div>

