<div class="familyweeklyview-container" ng-controller="FamweeklyviewCtrl">
    <!-- person row -->
    <div ng-repeat="i in [1, 2, 3, 4]">
      <div class="person row">
        <!-- week row for particular person -->
        <div class="fwv-columns">
            <p> profile picture </p>
            <p> name </p>
        </div>
        <!-- <div ng-repeat="i in [1, 2, 3, 4, 5, 6, 7]"> -->
            
          <div class="fwv-columns" ng-repeat="i in [1, 2, 3, 4, 5, 6, 7]">
            <div ng-controller="PiechartcontrollerCtrl">
                <canvas id="pie" class="chart chart-pie" chart-data="data" chart-colors ="color" chart-options="options">
                </canvas>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
<!--
<div class="person row">
  <div class="col-xs-6">
    <div class="row">
      <div class="col-xs-3">
        <!-- <p> profile picture </p>
        <img ng-src="images/avatars/momcircle.png" alt="momcircle" class="fwv-profile-pics">
        <p class="fwv-names"> name </p>
      </div>
      <div class="col-xs-3">
        <div ng-controller="PiechartcontrollerCtrl">
          <canvas id="pie" class="chart chart-pie" chart-data="data" chart-colors ="color" chart-options="options">
          </canvas>
        </div>
      </div>
      <div class="col-xs-3">
        <div ng-controller="PiechartcontrollerCtrl">
          <canvas id="pie" class="chart chart-pie" chart-data="data" chart-colors ="color" chart-options="options">
          </canvas>
        </div>
      </div>
      <div class="col-xs-3">
        <div ng-controller="PiechartcontrollerCtrl">
          <canvas id="pie" class="chart chart-pie" chart-data="data" chart-colors ="color" chart-options="options">
          </canvas>
        </div>
      </div>
    </div>
  </div> 
  <div class="col-xs-6">
    <div class="row">
      <div class="col-xs-3">
        <div ng-controller="PiechartcontrollerCtrl">
          <canvas id="pie" class="chart chart-pie" chart-data="data" chart-colors ="color" chart-options="options">
          </canvas>
        </div>
      </div>
      <div class="col-xs-3">
        <div ng-controller="PiechartcontrollerCtrl">
          <canvas id="pie" class="chart chart-pie" chart-data="data" chart-colors ="color" chart-options="options">
          </canvas>
        </div>
      </div>
      <div class="col-xs-3">
        <div ng-controller="PiechartcontrollerCtrl">
          <canvas id="pie" class="chart chart-pie" chart-data="data" chart-colors ="color" chart-options="options">
          </canvas>
        </div>
      </div>
      <div class="col-xs-3">
        <div ng-controller="PiechartcontrollerCtrl">
          <canvas id="pie" class="chart chart-pie" chart-data="data" chart-colors ="color" chart-options="options">
          </canvas>
        </div>
      </div>
    </div>
  </div>
</div>
    <!-- other family member
<div class="person row">
  <div class="col-xs-6">
    <div class="row">
      <div class="col-xs-3">
        <!-- <p> profile picture </p>
        <img ng-src="images/avatars/dadcircle.png" alt="dadcircle" class="fwv-profile-pics">
        <p class="fwv-names"> name </p>
      </div>
      <div class="col-xs-3">
        <div ng-controller="PiechartcontrollerCtrl">
          <canvas id="pie" class="chart chart-pie" chart-data="data" chart-colors ="color" chart-options="options">
          </canvas>
        </div>
      </div>
      <div class="col-xs-3">
        <div ng-controller="PiechartcontrollerCtrl">
          <canvas id="pie" class="chart chart-pie" chart-data="data" chart-colors ="color" chart-options="options">
          </canvas>
        </div>
      </div>
      <div class="col-xs-3">
        <div ng-controller="PiechartcontrollerCtrl">
          <canvas id="pie" class="chart chart-pie" chart-data="data" chart-colors ="color" chart-options="options">
          </canvas>
        </div>
      </div>
    </div>
  </div> 
  <div class="col-xs-6">
    <div class="row">
      <div class="col-xs-3">
        <div ng-controller="PiechartcontrollerCtrl">
          <canvas id="pie" class="chart chart-pie" chart-data="data" chart-colors ="color" chart-options="options">
          </canvas>
        </div>
      </div>
      <div class="col-xs-3">
        <div ng-controller="PiechartcontrollerCtrl">
          <canvas id="pie" class="chart chart-pie" chart-data="data" chart-colors ="color" chart-options="options">
          </canvas>
        </div>
      </div>
      <div class="col-xs-3">
        <div ng-controller="PiechartcontrollerCtrl">
          <canvas id="pie" class="chart chart-pie" chart-data="data" chart-colors ="color" chart-options="options">
          </canvas>
        </div>
      </div>
      <div class="col-xs-3">
        <div ng-controller="PiechartcontrollerCtrl">
          <canvas id="pie" class="chart chart-pie" chart-data="data" chart-colors ="color" chart-options="options">
          </canvas>
        </div>
      </div>
    </div>
  </div>
</div>
    <!-- other family member
<div class="person row">
  <div class="col-xs-6">
    <div class="row">
      <div class="col-xs-3">
        <!-- <p> profile picture </p>
        <img ng-src="images/avatars/girlcircle.png" alt="girlcircle" class="fwv-profile-pics">
        <p class="fwv-names"> name </p>
      </div>
      <div class="col-xs-3">
        <div ng-controller="PiechartcontrollerCtrl">
          <canvas id="pie" class="chart chart-pie" chart-data="data" chart-colors ="color" chart-options="options">
          </canvas>
        </div>
      </div>
      <div class="col-xs-3">
        <div ng-controller="PiechartcontrollerCtrl">
          <canvas id="pie" class="chart chart-pie" chart-data="data" chart-colors ="color" chart-options="options">
          </canvas>
        </div>
      </div>
      <div class="col-xs-3">
        <div ng-controller="PiechartcontrollerCtrl">
          <canvas id="pie" class="chart chart-pie" chart-data="data" chart-colors ="color" chart-options="options">
          </canvas>
        </div>
      </div>
    </div>
  </div> 
  <div class="col-xs-6">
    <div class="row">
      <div class="col-xs-3">
        <div ng-controller="PiechartcontrollerCtrl">
          <canvas id="pie" class="chart chart-pie" chart-data="data" chart-colors ="color" chart-options="options">
          </canvas>
        </div>
      </div>
      <div class="col-xs-3">
        <div ng-controller="PiechartcontrollerCtrl">
          <canvas id="pie" class="chart chart-pie" chart-data="data" chart-colors ="color" chart-options="options">
          </canvas>
        </div>
      </div>
      <div class="col-xs-3">
        <div ng-controller="PiechartcontrollerCtrl">
          <canvas id="pie" class="chart chart-pie" chart-data="data" chart-colors ="color" chart-options="options">
          </canvas>
        </div>
      </div>
      <div class="col-xs-3">
        <div ng-controller="PiechartcontrollerCtrl">
          <canvas id="pie" class="chart chart-pie" chart-data="data" chart-colors ="color" chart-options="options">
          </canvas>
        </div>
      </div>
    </div>
  </div>
</div>
    <!-- fourth family member
<div class="person row">
  <div class="col-xs-6">
    <div class="row">
      <div class="col-xs-3">
        <!-- <p> profile picture </p>
        <img ng-src="images/avatars/soncircle.png" alt="soncircle" class="fwv-profile-pics">
        <p class="fwv-names"> name </p>
      </div>
      <div class="col-xs-3">
        <div ng-controller="PiechartcontrollerCtrl">
          <canvas id="pie" class="chart chart-pie" chart-data="data" chart-colors ="color" chart-options="options">
          </canvas>
        </div>
      </div>
      <div class="col-xs-3">
        <div ng-controller="PiechartcontrollerCtrl">
          <canvas id="pie" class="chart chart-pie" chart-data="data" chart-colors ="color" chart-options="options">
          </canvas>
        </div>
      </div>
      <div class="col-xs-3">
        <div ng-controller="PiechartcontrollerCtrl">
          <canvas id="pie" class="chart chart-pie" chart-data="data" chart-colors ="color" chart-options="options">
          </canvas>
        </div>
      </div>
    </div>
  </div> 
  <div class="col-xs-6">
    <div class="row">
      <div class="col-xs-3">
        <div ng-controller="PiechartcontrollerCtrl">
          <canvas id="pie" class="chart chart-pie" chart-data="data" chart-colors ="color" chart-options="options">
          </canvas>
        </div>
      </div>
      <div class="col-xs-3">
        <div ng-controller="PiechartcontrollerCtrl">
          <canvas id="pie" class="chart chart-pie" chart-data="data" chart-colors ="color" chart-options="options">
          </canvas>
        </div>
      </div>
      <div class="col-xs-3">
        <div ng-controller="PiechartcontrollerCtrl">
          <canvas id="pie" class="chart chart-pie" chart-data="data" chart-colors ="color" chart-options="options">
          </canvas>
        </div>
      </div>
      <div class="col-xs-3">
        <div ng-controller="PiechartcontrollerCtrl">
          <canvas id="pie" class="chart chart-pie" chart-data="data" chart-colors ="color" chart-options="options">
          </canvas>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>

-->
    <!--
	<div class="col-xs-1">
	<p> profile picture </p>
	<p> name </p>
	</div>
	<div class="col-xs-1">
	<div ng-controller="PiechartcontrollerCtrl">
            <canvas id="pie" class="chart chart-pie" chart-data="data" chart-colors ="color" chart-options="options">
            </canvas>
            </div>
    </div>
    <div class="col-xs-1">

    <div ng-controller="PiechartcontrollerCtrl">
            <canvas id="pie" class="chart chart-pie" chart-data="data" chart-colors ="color" chart-options="options">
            </canvas>
            </div>		
    </div>
    <div class="col-xs-1">
    <div ng-controller="PiechartcontrollerCtrl">
            <canvas id="pie" class="chart chart-pie" chart-data="data" chart-colors ="color" chart-options="options">
            </canvas>
            </div>
    </div>
    <div class="col-xs-1">
    <div ng-controller="PiechartcontrollerCtrl">
            <canvas id="pie" class="chart chart-pie" chart-data="data" chart-colors ="color" chart-options="options">
            </canvas>
            </div>
    </div>
    <div class="col-xs-1">
    <div ng-controller="PiechartcontrollerCtrl">
            <canvas id="pie" class="chart chart-pie" chart-data="data" chart-colors ="color" chart-options="options">
            </canvas>
            </div>
    </div>
    <div class="col-xs-1">
    <div ng-controller="PiechartcontrollerCtrl">
            <canvas id="pie" class="chart chart-pie" chart-data="data" chart-colors ="color" chart-options="options">
            </canvas>
            </div>
    </div>
    <div class="col-xs-1">
    <div ng-controller="PiechartcontrollerCtrl">
            <canvas id="pie" class="chart chart-pie" chart-data="data" chart-colors ="color" chart-options="options">
            </canvas>
            </div>
	</div>
	</div>
	<!-- other family member
	<div class="person row">
	<div class="col-xs-1">
	<p> profile picture </p>
	<p> name </p>
	</div>
	<div class="col-xs-1">
	<div ng-controller="PiechartcontrollerCtrl">
            <canvas id="pie" class="chart chart-pie" chart-data="data" chart-colors ="color" chart-options="options">
            </canvas>
            </div>
    </div>
    <div class="col-xs-1">

    <div ng-controller="PiechartcontrollerCtrl">
            <canvas id="pie" class="chart chart-pie" chart-data="data" chart-colors ="color" chart-options="options">
            </canvas>
            </div>		
    </div>
    <div class="col-xs-1">
    <div ng-controller="PiechartcontrollerCtrl">
            <canvas id="pie" class="chart chart-pie" chart-data="data" chart-colors ="color" chart-options="options">
            </canvas>
            </div>
    </div>
    <div class="col-xs-1">
    <div ng-controller="PiechartcontrollerCtrl">
            <canvas id="pie" class="chart chart-pie" chart-data="data" chart-colors ="color" chart-options="options">
            </canvas>
            </div>
    </div>
    <div class="col-xs-1">
    <div ng-controller="PiechartcontrollerCtrl">
            <canvas id="pie" class="chart chart-pie" chart-data="data" chart-colors ="color" chart-options="options">
            </canvas>
            </div>
    </div>
    <div class="col-xs-1">
    <div ng-controller="PiechartcontrollerCtrl">
            <canvas id="pie" class="chart chart-pie" chart-data="data" chart-colors ="color" chart-options="options">
            </canvas>
            </div>
    </div>
    <div class="col-xs-1">
    <div ng-controller="PiechartcontrollerCtrl">
            <canvas id="pie" class="chart chart-pie" chart-data="data" chart-colors ="color" chart-options="options">
            </canvas>
            </div>
	</div>
	</div>
	<!-- other family member
	<div class="person row">
	<div class="col-xs-1">
	<p> profile picture </p>
	<p> name </p>
	</div>
	<div class="col-xs-1">
	<div ng-controller="PiechartcontrollerCtrl">
            <canvas id="pie" class="chart chart-pie" chart-data="data" chart-colors ="color" chart-options="options">
            </canvas>
            </div>
    </div>
    <div class="col-xs-1">

    <div ng-controller="PiechartcontrollerCtrl">
            <canvas id="pie" class="chart chart-pie" chart-data="data" chart-colors ="color" chart-options="options">
            </canvas>
            </div>		
    </div>
    <div class="col-xs-1">
    <div ng-controller="PiechartcontrollerCtrl">
            <canvas id="pie" class="chart chart-pie" chart-data="data" chart-colors ="color" chart-options="options">
            </canvas>
            </div>
    </div>
    <div class="col-xs-1">
    <div ng-controller="PiechartcontrollerCtrl">
            <canvas id="pie" class="chart chart-pie" chart-data="data" chart-colors ="color" chart-options="options">
            </canvas>
            </div>
    </div>
    <div class="col-xs-1">
    <div ng-controller="PiechartcontrollerCtrl">
            <canvas id="pie" class="chart chart-pie" chart-data="data" chart-colors ="color" chart-options="options">
            </canvas>
            </div>
    </div>
    <div class="col-xs-1">
    <div ng-controller="PiechartcontrollerCtrl">
            <canvas id="pie" class="chart chart-pie" chart-data="data" chart-colors ="color" chart-options="options">
            </canvas>
            </div>
    </div>
    <div class="col-xs-1">
    <div ng-controller="PiechartcontrollerCtrl">
            <canvas id="pie" class="chart chart-pie" chart-data="data" chart-colors ="color" chart-options="options">
            </canvas>
            </div>
	</div>
	</div>
	<!-- fourth family member
	<div class="person row">
	<div class="col-xs-1">
	<p> profile picture </p>
	<p> name </p>
	</div>
	<div class="col-xs-1">
	<div ng-controller="PiechartcontrollerCtrl">
            <canvas id="pie" class="chart chart-pie" chart-data="data" chart-colors ="color" chart-options="options">
            </canvas>
            </div>
    </div>
    <div class="col-xs-1">

    <div ng-controller="PiechartcontrollerCtrl">
            <canvas id="pie" class="chart chart-pie" chart-data="data" chart-colors ="color" chart-options="options">
            </canvas>
            </div>		
    </div>
    <div class="col-xs-1">
    <div ng-controller="PiechartcontrollerCtrl">
            <canvas id="pie" class="chart chart-pie" chart-data="data" chart-colors ="color" chart-options="options">
            </canvas>
            </div>
    </div>
    <div class="col-xs-1">
    <div ng-controller="PiechartcontrollerCtrl">
            <canvas id="pie" class="chart chart-pie" chart-data="data" chart-colors ="color" chart-options="options">
            </canvas>
            </div>
    </div>
    <div class="col-xs-1">
    <div ng-controller="PiechartcontrollerCtrl">
            <canvas id="pie" class="chart chart-pie" chart-data="data" chart-colors ="color" chart-options="options">
            </canvas>
            </div>
    </div>
    <div class="col-xs-1">
    <div ng-controller="PiechartcontrollerCtrl">
            <canvas id="pie" class="chart chart-pie" chart-data="data" chart-colors ="color" chart-options="options">
            </canvas>
            </div>
    </div>
    <div class="col-xs-1">
    <div ng-controller="PiechartcontrollerCtrl">
            <canvas id="pie" class="chart chart-pie" chart-data="data" chart-colors ="color" chart-options="options">
            </canvas>
            </div>
	</div>
	</div>-->