<div class="familyweeklyview-container" ng-controller="FamweeklyviewCtrl">

	<div class="person row">
	<div class="col-xs-1">
	<p> profile picture </p>
	<p> name </p>
	</div>
	<div class="col-xs-1">
	<div ng-controller="PiechartcontrollerCtrl">
            <canvas id="pie" class="chart chart-pie" chart-data="data" chart-colors ="color" chart-options="options">
            </canvas>
            </div>
    </div>
    <div class="col-xs-1">

    <div ng-controller="PiechartcontrollerCtrl">
            <canvas id="pie" class="chart chart-pie" chart-data="data" chart-colors ="color" chart-options="options">
            </canvas>
            </div>		
    </div>
    <div class="col-xs-1">
    <div ng-controller="PiechartcontrollerCtrl">
            <canvas id="pie" class="chart chart-pie" chart-data="data" chart-colors ="color" chart-options="options">
            </canvas>
            </div>
    </div>
    <div class="col-xs-1">
    <div ng-controller="PiechartcontrollerCtrl">
            <canvas id="pie" class="chart chart-pie" chart-data="data" chart-colors ="color" chart-options="options">
            </canvas>
            </div>
    </div>
    <div class="col-xs-1">
    <div ng-controller="PiechartcontrollerCtrl">
            <canvas id="pie" class="chart chart-pie" chart-data="data" chart-colors ="color" chart-options="options">
            </canvas>
            </div>
    </div>
    <div class="col-xs-1">
    <div ng-controller="PiechartcontrollerCtrl">
            <canvas id="pie" class="chart chart-pie" chart-data="data" chart-colors ="color" chart-options="options">
            </canvas>
            </div>
    </div>
    <div class="col-xs-1">
    <div ng-controller="PiechartcontrollerCtrl">
            <canvas id="pie" class="chart chart-pie" chart-data="data" chart-colors ="color" chart-options="options">
            </canvas>
            </div>
	</div>
	</div>
	<!-- other family member -->
	<div class="person row">
	<div class="col-xs-1">
	<p> profile picture </p>
	<p> name </p>
	</div>
	<div class="col-xs-1">
	<div ng-controller="PiechartcontrollerCtrl">
            <canvas id="pie" class="chart chart-pie" chart-data="data" chart-colors ="color" chart-options="options">
            </canvas>
            </div>
    </div>
    <div class="col-xs-1">

    <div ng-controller="PiechartcontrollerCtrl">
            <canvas id="pie" class="chart chart-pie" chart-data="data" chart-colors ="color" chart-options="options">
            </canvas>
            </div>		
    </div>
    <div class="col-xs-1">
    <div ng-controller="PiechartcontrollerCtrl">
            <canvas id="pie" class="chart chart-pie" chart-data="data" chart-colors ="color" chart-options="options">
            </canvas>
            </div>
    </div>
    <div class="col-xs-1">
    <div ng-controller="PiechartcontrollerCtrl">
            <canvas id="pie" class="chart chart-pie" chart-data="data" chart-colors ="color" chart-options="options">
            </canvas>
            </div>
    </div>
    <div class="col-xs-1">
    <div ng-controller="PiechartcontrollerCtrl">
            <canvas id="pie" class="chart chart-pie" chart-data="data" chart-colors ="color" chart-options="options">
            </canvas>
            </div>
    </div>
    <div class="col-xs-1">
    <div ng-controller="PiechartcontrollerCtrl">
            <canvas id="pie" class="chart chart-pie" chart-data="data" chart-colors ="color" chart-options="options">
            </canvas>
            </div>
    </div>
    <div class="col-xs-1">
    <div ng-controller="PiechartcontrollerCtrl">
            <canvas id="pie" class="chart chart-pie" chart-data="data" chart-colors ="color" chart-options="options">
            </canvas>
            </div>
	</div>
	</div>
	<!-- other family member -->
	<div class="person row">
	<div class="col-xs-1">
	<p> profile picture </p>
	<p> name </p>
	</div>
	<div class="col-xs-1">
	<div ng-controller="PiechartcontrollerCtrl">
            <canvas id="pie" class="chart chart-pie" chart-data="data" chart-colors ="color" chart-options="options">
            </canvas>
            </div>
    </div>
    <div class="col-xs-1">

    <div ng-controller="PiechartcontrollerCtrl">
            <canvas id="pie" class="chart chart-pie" chart-data="data" chart-colors ="color" chart-options="options">
            </canvas>
            </div>		
    </div>
    <div class="col-xs-1">
    <div ng-controller="PiechartcontrollerCtrl">
            <canvas id="pie" class="chart chart-pie" chart-data="data" chart-colors ="color" chart-options="options">
            </canvas>
            </div>
    </div>
    <div class="col-xs-1">
    <div ng-controller="PiechartcontrollerCtrl">
            <canvas id="pie" class="chart chart-pie" chart-data="data" chart-colors ="color" chart-options="options">
            </canvas>
            </div>
    </div>
    <div class="col-xs-1">
    <div ng-controller="PiechartcontrollerCtrl">
            <canvas id="pie" class="chart chart-pie" chart-data="data" chart-colors ="color" chart-options="options">
            </canvas>
            </div>
    </div>
    <div class="col-xs-1">
    <div ng-controller="PiechartcontrollerCtrl">
            <canvas id="pie" class="chart chart-pie" chart-data="data" chart-colors ="color" chart-options="options">
            </canvas>
            </div>
    </div>
    <div class="col-xs-1">
    <div ng-controller="PiechartcontrollerCtrl">
            <canvas id="pie" class="chart chart-pie" chart-data="data" chart-colors ="color" chart-options="options">
            </canvas>
            </div>
	</div>
	</div>
	<!-- fourth family member -->
	<div class="person row">
	<div class="col-xs-1">
	<p> profile picture </p>
	<p> name </p>
	</div>
	<div class="col-xs-1">
	<div ng-controller="PiechartcontrollerCtrl">
            <canvas id="pie" class="chart chart-pie" chart-data="data" chart-colors ="color" chart-options="options">
            </canvas>
            </div>
    </div>
    <div class="col-xs-1">

    <div ng-controller="PiechartcontrollerCtrl">
            <canvas id="pie" class="chart chart-pie" chart-data="data" chart-colors ="color" chart-options="options">
            </canvas>
            </div>		
    </div>
    <div class="col-xs-1">
    <div ng-controller="PiechartcontrollerCtrl">
            <canvas id="pie" class="chart chart-pie" chart-data="data" chart-colors ="color" chart-options="options">
            </canvas>
            </div>
    </div>
    <div class="col-xs-1">
    <div ng-controller="PiechartcontrollerCtrl">
            <canvas id="pie" class="chart chart-pie" chart-data="data" chart-colors ="color" chart-options="options">
            </canvas>
            </div>
    </div>
    <div class="col-xs-1">
    <div ng-controller="PiechartcontrollerCtrl">
            <canvas id="pie" class="chart chart-pie" chart-data="data" chart-colors ="color" chart-options="options">
            </canvas>
            </div>
    </div>
    <div class="col-xs-1">
    <div ng-controller="PiechartcontrollerCtrl">
            <canvas id="pie" class="chart chart-pie" chart-data="data" chart-colors ="color" chart-options="options">
            </canvas>
            </div>
    </div>
    <div class="col-xs-1">
    <div ng-controller="PiechartcontrollerCtrl">
            <canvas id="pie" class="chart chart-pie" chart-data="data" chart-colors ="color" chart-options="options">
            </canvas>
            </div>
	</div>
	</div>
</div>

