<div class="familyweeklyview-container" ng-controller="FamweeklyviewCtrl">

<div ng-controller="DatepickercontrollerCtrl as ctrl" ng-cloak="" id="fwv-datepicker-placement">

    <div flex-gt-xs="">
      <!-- <h4>Opening the calendar when the input is focused</h4> -->
      <md-datepicker ng-model="ctrl.myDate" md-open-on-focus=""></md-datepicker>
    </div>
</div>

<div class="person row">
  <div class="col-xs-6">
    <div class="row">
      <div class="col-xs-3">
        <p> profile picture </p>
        <p> name </p>
      </div>
      <div class="col-xs-3">
        <div ng-controller="PiechartcontrollerCtrl">
          <canvas id="pie" class="chart chart-pie" chart-data="data" chart-colors ="color" chart-options="options">
          </canvas>
        </div>
      </div>
      <div class="col-xs-3">
        <div ng-controller="PiechartcontrollerCtrl">
          <canvas id="pie" class="chart chart-pie" chart-data="data" chart-colors ="color" chart-options="options">
          </canvas>
        </div>
      </div>
      <div class="col-xs-3">
        <div ng-controller="PiechartcontrollerCtrl">
          <canvas id="pie" class="chart chart-pie" chart-data="data" chart-colors ="color" chart-options="options">
          </canvas>
        </div>
      </div>
    </div>
  </div> 
  <div class="col-xs-6">
    <div class="row">
      <div class="col-xs-3">
        <div ng-controller="PiechartcontrollerCtrl">
          <canvas id="pie" class="chart chart-pie" chart-data="data" chart-colors ="color" chart-options="options">
          </canvas>
        </div>
      </div>
      <div class="col-xs-3">
        <div ng-controller="PiechartcontrollerCtrl">
          <canvas id="pie" class="chart chart-pie" chart-data="data" chart-colors ="color" chart-options="options">
          </canvas>
        </div>
      </div>
      <div class="col-xs-3">
        <div ng-controller="PiechartcontrollerCtrl">
          <canvas id="pie" class="chart chart-pie" chart-data="data" chart-colors ="color" chart-options="options">
          </canvas>
        </div>
      </div>
      <div class="col-xs-3">
        <div ng-controller="PiechartcontrollerCtrl">
          <canvas id="pie" class="chart chart-pie" chart-data="data" chart-colors ="color" chart-options="options">
          </canvas>
        </div>
      </div>
    </div>
  </div>
</div>
    <!-- other family member -->
<div class="person row">
  <div class="col-xs-6">
    <div class="row">
      <div class="col-xs-3">
        <p> profile picture </p>
        <p> name </p>
      </div>
      <div class="col-xs-3">
        <div ng-controller="PiechartcontrollerCtrl">
          <canvas id="pie" class="chart chart-pie" chart-data="data" chart-colors ="color" chart-options="options">
          </canvas>
        </div>
      </div>
      <div class="col-xs-3">
        <div ng-controller="PiechartcontrollerCtrl">
          <canvas id="pie" class="chart chart-pie" chart-data="data" chart-colors ="color" chart-options="options">
          </canvas>
        </div>
      </div>
      <div class="col-xs-3">
        <div ng-controller="PiechartcontrollerCtrl">
          <canvas id="pie" class="chart chart-pie" chart-data="data" chart-colors ="color" chart-options="options">
          </canvas>
        </div>
      </div>
    </div>
  </div> 
  <div class="col-xs-6">
    <div class="row">
      <div class="col-xs-3">
        <div ng-controller="PiechartcontrollerCtrl">
          <canvas id="pie" class="chart chart-pie" chart-data="data" chart-colors ="color" chart-options="options">
          </canvas>
        </div>
      </div>
      <div class="col-xs-3">
        <div ng-controller="PiechartcontrollerCtrl">
          <canvas id="pie" class="chart chart-pie" chart-data="data" chart-colors ="color" chart-options="options">
          </canvas>
        </div>
      </div>
      <div class="col-xs-3">
        <div ng-controller="PiechartcontrollerCtrl">
          <canvas id="pie" class="chart chart-pie" chart-data="data" chart-colors ="color" chart-options="options">
          </canvas>
        </div>
      </div>
      <div class="col-xs-3">
        <div ng-controller="PiechartcontrollerCtrl">
          <canvas id="pie" class="chart chart-pie" chart-data="data" chart-colors ="color" chart-options="options">
          </canvas>
        </div>
      </div>
    </div>
  </div>
</div>
    <!-- other family member -->
<div class="person row">
  <div class="col-xs-6">
    <div class="row">
      <div class="col-xs-3">
        <p> profile picture </p>
        <p> name </p>
      </div>
      <div class="col-xs-3">
        <div ng-controller="PiechartcontrollerCtrl">
          <canvas id="pie" class="chart chart-pie" chart-data="data" chart-colors ="color" chart-options="options">
          </canvas>
        </div>
      </div>
      <div class="col-xs-3">
        <div ng-controller="PiechartcontrollerCtrl">
          <canvas id="pie" class="chart chart-pie" chart-data="data" chart-colors ="color" chart-options="options">
          </canvas>
        </div>
      </div>
      <div class="col-xs-3">
        <div ng-controller="PiechartcontrollerCtrl">
          <canvas id="pie" class="chart chart-pie" chart-data="data" chart-colors ="color" chart-options="options">
          </canvas>
        </div>
      </div>
    </div>
  </div> 
  <div class="col-xs-6">
    <div class="row">
      <div class="col-xs-3">
        <div ng-controller="PiechartcontrollerCtrl">
          <canvas id="pie" class="chart chart-pie" chart-data="data" chart-colors ="color" chart-options="options">
          </canvas>
        </div>
      </div>
      <div class="col-xs-3">
        <div ng-controller="PiechartcontrollerCtrl">
          <canvas id="pie" class="chart chart-pie" chart-data="data" chart-colors ="color" chart-options="options">
          </canvas>
        </div>
      </div>
      <div class="col-xs-3">
        <div ng-controller="PiechartcontrollerCtrl">
          <canvas id="pie" class="chart chart-pie" chart-data="data" chart-colors ="color" chart-options="options">
          </canvas>
        </div>
      </div>
      <div class="col-xs-3">
        <div ng-controller="PiechartcontrollerCtrl">
          <canvas id="pie" class="chart chart-pie" chart-data="data" chart-colors ="color" chart-options="options">
          </canvas>
        </div>
      </div>
    </div>
  </div>
</div>
    <!-- fourth family member -->
<div class="person row">
  <div class="col-xs-6">
    <div class="row">
      <div class="col-xs-3">
        <p> profile picture </p>
        <p> name </p>
      </div>
      <div class="col-xs-3">
        <div ng-controller="PiechartcontrollerCtrl">
          <canvas id="pie" class="chart chart-pie" chart-data="data" chart-colors ="color" chart-options="options">
          </canvas>
        </div>
      </div>
      <div class="col-xs-3">
        <div ng-controller="PiechartcontrollerCtrl">
          <canvas id="pie" class="chart chart-pie" chart-data="data" chart-colors ="color" chart-options="options">
          </canvas>
        </div>
      </div>
      <div class="col-xs-3">
        <div ng-controller="PiechartcontrollerCtrl">
          <canvas id="pie" class="chart chart-pie" chart-data="data" chart-colors ="color" chart-options="options">
          </canvas>
        </div>
      </div>
    </div>
  </div> 
  <div class="col-xs-6">
    <div class="row">
      <div class="col-xs-3">
        <div ng-controller="PiechartcontrollerCtrl">
          <canvas id="pie" class="chart chart-pie" chart-data="data" chart-colors ="color" chart-options="options">
          </canvas>
        </div>
      </div>
      <div class="col-xs-3">
        <div ng-controller="PiechartcontrollerCtrl">
          <canvas id="pie" class="chart chart-pie" chart-data="data" chart-colors ="color" chart-options="options">
          </canvas>
        </div>
      </div>
      <div class="col-xs-3">
        <div ng-controller="PiechartcontrollerCtrl">
          <canvas id="pie" class="chart chart-pie" chart-data="data" chart-colors ="color" chart-options="options">
          </canvas>
        </div>
      </div>
      <div class="col-xs-3">
        <div ng-controller="PiechartcontrollerCtrl">
          <canvas id="pie" class="chart chart-pie" chart-data="data" chart-colors ="color" chart-options="options">
          </canvas>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>

