<p>This is the sdview view.</p>
<!--
this is where I show the personal view
-->
<div class="row">
<div class="col-xs-4">
<p> profile </p>
</div>
<div class="col-xs-4">
<p> this is where the ring would show up </p>
</div>
<div class="col-xs-4">
<p> stats about sleep </p>
</div>
</div>
<div class="row">
<canvas class="chart-horizontal-bar" chart-data="data" chart-labels="labels"
        chart-options="options" chart-series="series" chart-colors="colors"></canvas>
</div>
<div class="row">
<p> need to include legend for colors </p>
</div>