<div class="singleview-container" ng-controller="SdviewCtrl">
<p>This is the sdview view.</p>
<!--
this is where I show the personal view
-->
<div class="row">
	<div class="col-xs-4">
	<!--hard coding this for now-->
	<img src="images/avatars/momcircle.PNG" alt="momcircle" style="position: relative; top: 0px; left:10px; width:60px; height:60px">
	</div>
	<div class="col-xs-4" ng-controller="DoughnutCtrl">
		<canvas id="doughnut" class="chart-doughnut" chart-data="data" chart-labels="labels" chart-options="options">
    	</canvas>
	</div>
	<div class="col-xs-4">
	<p> stats about sleep </p>
	</div>
	<div class="row" ng-controller="StackedbarCtrl">
	<canvas class="chart-horizontal-bar" chart-data="data" chart-labels="labels"
	        chart-options="options" chart-series="series" chart-colors="colors"></canvas>
	</div>
	<div class="row">
	<p> need to include legend for colors </p>
	</div>
</div>