<div class="singleweeklyview-container" ng-controller="SingleweeklyviewCtrl">
<p>This is the singleweeklyview view.</p>
<p> This is {{id}} view <p>

<div class="row">
<div ng-controller="EmptybarchartCtrl">
	<canvas class="chart-horizontal-bar"
	  chart-data="data" chart-colors="color" chart-labels="labels" chart-options="options">
	</canvas> 
</div>
</div>

<div class="row">
<div ng-controller="EmptybarchartCtrl">
	<canvas class="chart-horizontal-bar"
	  chart-data="data" chart-colors="color" chart-labels="labels" chart-options="options">
	</canvas> 
</div>
</div>

<div class="row">
<div ng-controller="EmptybarchartCtrl">
	<canvas class="chart-horizontal-bar"
	  chart-data="data" chart-colors="color" chart-labels="labels" chart-options="options">
	</canvas> 
</div>
</div>

<div class="row">
<div ng-controller="EmptybarchartCtrl">
	<canvas class="chart-horizontal-bar"
	  chart-data="data" chart-colors="color" chart-labels="labels" chart-options="options">
	</canvas> 
</div>
</div>

<div class="row">
<div ng-controller="EmptybarchartCtrl">
	<canvas class="chart-horizontal-bar"
	  chart-data="data" chart-colors="color" chart-labels="labels" chart-options="options">
	</canvas> 
</div>
</div>

<div class="row">
<div ng-controller="EmptybarchartCtrl">
	<canvas class="chart-horizontal-bar"
	  chart-data="data" chart-colors="color" chart-labels="labels" chart-options="options">
	</canvas> 
</div>
</div>

<div class="row">
<div ng-controller="EmptybarchartCtrl">
	<canvas class="chart-horizontal-bar"
	  chart-data="data" chart-colors="color" chart-labels="labels" chart-options="options">
	</canvas> 
</div>
</div>



</div>
</div>